<div class="container" >
    <h1>My Goals</h1>
    <ul>
      <div *ngFor='let goal of goals; let i = index'>
      <li appStrikethrough>
        {{goal.name}}
        {{goal.id}}
      </li>
      <button (click)=toggleDetails(i) >Show Details</button>
        <!-- [goal] is the property in goal-details with the @Input() decorator ie goal!:Goal;-->
        <app-goal-details *ngIf='goal.showDescription' (isComplete)='deleteGoal($event, i)' [goal]='goal'></app-goal-details>
        <!-- 'goal is the property in parent component.' -->
      </div>
      <div class="col-md-6">
        <app-goal-form></app-goal-form>
      </div>
    </ul>
    <p *ngIf='goals.length>10'>Wacha mchezo, goals {{goals.length}}</p>
  </div>
